
<div class="profile dropdown">
    <a href="#" class="dropdown-toggle"
        id="profile-dropdown" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        {{ session.user.username }}
    </a>
    <div class="dropdown-menu dropdown-menu-right"
        aria-labelledby="profile-dropdown">

        <a class="dropdown-item" href="/register" target="_blank">My Profile</a>

        <div class="dropdown-divider"></div>

    {% if can_emulate %}
        {% include 'emulate.html' %}
    {% endif %}

        <a class="dropdown-item profile-logout"
            href="/Shibboleth.sso/Logout?return=https://webauth.service.ohio-state.edu/idp/profile/Logout">Logout</a>
    </div>
</div>
