
/*  Banner-style alerts

    This takes the Bootstrap alert and resizes it to fit across the screen under the navigation bar,
    as well as add some sticky behavior for browsers that support it.
*/

.alert-banner {
    border-left: none;
    border-right: none;
    padding: 0.25rem 2rem;
    margin: 0;
    min-height: auto;

    // Sticky positioning for browsers that support it
    &.is-sticky {
        position: sticky;
        top: 0;
        z-index: 9997;
    }

    // Bootstrap's dismiss button
    .close {
        top: 0.5rem;
        right: 0;
    }

    @include media-breakpoint-down(sm) {
        padding: 0.25rem 1rem;
    }
}