
.formflow {
    // width: 20rem;
    max-width: 20rem;

    .formflow-title {
        text-transform: uppercase;
        color: #666;
        font-size: 80%;
        font-weight: 500;
        letter-spacing: 0.03em;
        margin-bottom: 1rem;
    }

    .formflow-group {
        @extend .list-group;

        border-radius: 3px;
        padding-left: 0;

        // Icon flow vertical line
        .formflow-page:after {
            content: "";
            z-index: 1;
            position: absolute;
            border-left: 2px solid $gray-light;
            right: 2em;
            top: 44px;
            bottom: -10px;
        }

        // Subtitle for flow items.
        // Sometimes indicates a sub-count or additional info
        small {
            display: block;
            color: $gray;

            // Padding between actual link and the subtitle
            padding-top: 0.5rem;

            // Padding to avoid overlapping the right hand icons
            padding-right: 2rem;
        }

        // Link to a page of the form
        .formflow-page {
            // Padding to avoid overlapping the right hand icons
            padding-right: 2rem;
        }

        .formflow-item {
            @extend .list-group-item;

            // Rewrite flex to be vertical blocks, right aligned
            flex-flow: column;
            align-items: flex-start;

            border: none;
            background-color: transparent;

            // Bit left-side overflow for the background highlighting hover.
            margin-left: -1rem;
            padding-left: 1rem;

            &:hover {
                background: #f7f7f9;
            }

            // Re-apply our custom anchor display style to the inner page label
            // .formflow-page {
            //     border-bottom: 1px solid rgba(50,131,200,0.25);
            // }

            &.active, &.active:hover {
                background-color: transparent !important;
                color: $body-color !important;
                font-weight: 500;
                cursor: default;

                .formflow-page {
                    border: none;
                }
            }

            .fa-stack {
                position: absolute;
                right: 1em;
            }

            .fa {
                color: $gray;
            }

            &.success .fa {
                color: $brand-success;
            }

            &.warning .fa {
                color: $brand-warning;
            }

            &.danger .fa {
                color: $brand-danger;
            }

            // Hide last connector line
            &:last-child .formflow-page:after {
                display: none;
            }
        }
    }

    /* Content after the sidebar needs left hand padding */
    // & ~ .container-fluid,
    // & ~ .container {
    //     margin: 0 2em;
    // }

}
