/**
 * Support for horizontally scrolling content while maintaining
 * a fixed navigation bar. This is for applications that can't get
 * away with reflowing content for mobile - or the developer is just
 * incredibly lazy - or the client really loves huge spreadsheets.
 *
 * Usage:
 *  1. Add .is-horizontal-scroll to your document's body tag
 *  2. ????
 *  3. It's like I'm really in Excel!
 */

body.is-horizontal-scroll {
    display: inline-block; // force inline block to fit any fixed width children

    header {
        // Turn on sticky so that we can fix horizontally
        // Note that this should work with the header.is-sticky class.
        position: sticky;
        left: 0;

        /*  'vw' units don't take in account scrollbars. Which is stupid
            but that's how they work. Rather than wasting the effort browser
            and OS sniffing, we just subtract 17px since the *majority* of
            browsers has a 17px scrollbar (with the exceptions of, say,
            Chrome on OSX or Edge)
        */
        width: calc(100vw - 17px);
    }
}
