
.lookup-total {
    border: 1px solid #ddd;
    color: #666;
    font-size: 80%;
    padding: 0.5rem 1rem;
    background-color: #efefef;
}

.lookup-results {
    padding-bottom: 1rem;
    margin-top: -1rem;
}
