
// CKEditor redesign to match our branding

// Change the editor border to match our default textareas
// (effectively making the transition between the two transparent
// to the end user)
.form-group {
    .cke_chrome {
        margin-bottom: 1rem;
        box-shadow: none;

        background-color: $input-bg;
        border: $input-btn-border-width solid $input-border-color;

        @include box-shadow($input-box-shadow);
        @include transition($input-transition);

        &.cke_focus {
            // Mimicry of BS4's @mixin form-control-focus,
            // except class based instead of a :focus selector
            color: $input-focus-color;
            background-color: $input-focus-bg;
            border-color: $input-focus-border-color;
            outline: none;
            @include box-shadow($input-focus-box-shadow);
        }

        .cke_bottom {
            overflow: visible;
            padding: 0;
        }

        .cke_resizer {
            border-color: transparent #c2c2c2 transparent transparent;
            margin-top: -13px;
            margin-right: 3px;
        }
    }
}

// If the textarea that was replaced with CKEditor has an
// error flag, apply the error to the CKE editor window
.form-control.is-invalid + .cke_chrome {
    border-color: $form-feedback-invalid-color;

    // Mimicry of BS4's @include form-validation-state styling
    &.cke_focus {
        box-shadow: 0 0 0 .2rem rgba($form-feedback-invalid-color, .25);
    }
}

// Same deal for valid flag
.form-control.is-valid + .cke_chrome {
    border-color: $form-feedback-valid-color;

    // Mimicry of BS4's @include form-validation-state styling
    &.cke_focus {
        box-shadow: 0 0 0 .2rem rgba($form-feedback-valid-color, .25);
    }
}


