
// Application-wide system alert.
// Used for planned outages or buckeye alerts.
.system-alert {
    background: $scarlet;
    color: $white;
    padding: 0.5rem 2rem;
    font-size: 80%;

    a {
        color: $white;
        text-decoration: underline;
        white-space: nowrap;
    }
}
