
a, .btn-link {
    text-decoration-skip-ink: auto;
    text-decoration-color: var(--rui-link-decoration-color);

    // Safari support. See: https://github.com/postcss/autoprefixer/issues/1179
    -webkit-text-decoration-skip: ink;

    .fa {
        margin-left: 0.25rem;
        opacity: 0.8;
        font-size: 80%;
    }
}
