
.grid-demo {
    .row [class^="col"] {
        padding-top:.75rem;
        padding-bottom:.75rem;
        background-color:rgba(var(--rui-light-primary-rgb), 0.1);
        border:1px solid rgba(var(--rui-light-primary-rgb), 0.25)
    }
    .row .row+.row {
        margin-top:1rem
    }
    .row-flex-cols .row {
        min-height:10rem;
        background-color:rgba(255,0,0,0.1)
    }
    .flex div {
        background-color:rgba(76,11,206,0.15);
        border:1px solid rgba(76,11,206,0.15)
    }
}
