
@charset 'UTF-8';
@use 'sass:math';

$vendor-images: 'https://orapps.osu.edu/assets/img/vendor' !default;
$vendor-fonts: 'https://orapps.osu.edu/assets/fonts/vendor' !default;

/*
    Order of imports MUST be:

    1. BS5 functions and external asset references
    2. Theme variables
    3. BS5 variable defaults
    4. Theme maps
    5. BS5 systems (maps, mixins, root, util)
    6. Everything else
*/

@import "bootstrap/scss/functions";
@import "../sass/vendor/font-awesome";
@import "fonts";

$prefix: 'rui-';

.light {
    
@import "light";

@import "bootstrap/scss/variables";
// @import "bootstrap/scss/variables";

// Map overrides 
$theme-colors: map-merge(
    $theme-colors, 
    $brand-colors
);

@import "vendor";
@import "components";

}
