// Based on https://raw.githubusercontent.com/primefaces/primereact/master/public/themes/bootstrap4-light-blue/theme.css
// SCSS conversion by https://sebastianpontow.de/css2compass/

// Colors
$primary: $casal;
$secondary: tint($gray, 70%);
$info: shade($polo-blue, 20%);
$success: #1aaa55;
$warning: shade(#fc9403, 8%);
$help: $jacarta;
$danger: #db3b21;
$light: $gray-100;
$dark: $gray-800;

//@extend-elements
//original selectors
//.p-button.p-button-secondary, .p-buttonset.p-button-secondary >.p-button, .p-splitbutton.p-button-secondary >.p-button
%secondary {
    color: $white;
    background: $secondary;
    border: 1px solid $secondary;
}

//original selectors
//.p-button.p-button-secondary:enabled:hover, .p-buttonset.p-button-secondary >.p-button:enabled:hover, .p-splitbutton.p-button-secondary >.p-button:enabled:hover
%secondary_hover {
    background: darken($secondary, 7.5%);
    color: $white;
    border-color: darken($secondary, 7.5%);
}

//original selectors
//.p-button.p-button-secondary:enabled:active, .p-buttonset.p-button-secondary >.p-button:enabled:active, .p-splitbutton.p-button-secondary >.p-button:enabled:active
%secondary_active {
    background: darken($secondary, 7.5%);
    color: $white;
    border-color: darken($secondary, 7.5%);
}

//original selectors
//.p-button.p-button-secondary.p-button-outlined, .p-buttonset.p-button-secondary >.p-button.p-button-outlined, .p-splitbutton.p-button-secondary >.p-button.p-button-outlined
%secondary_outlined {
    background-color: transparent;
    color: $secondary;
    border: 1px solid $secondary;
}

//original selectors
//.p-button.p-button-secondary.p-button-outlined:enabled:hover, .p-buttonset.p-button-secondary >.p-button.p-button-outlined:enabled:hover, .p-splitbutton.p-button-secondary >.p-button.p-button-outlined:enabled:hover
//original selectors (merged from %extend_6)
//.p-button.p-button-secondary.p-button-outlined:enabled:active, .p-buttonset.p-button-secondary >.p-button.p-button-outlined:enabled:active, .p-splitbutton.p-button-secondary >.p-button.p-button-outlined:enabled:active
%secondary_outlined_hover_active {
    background: $secondary;
    color: $white;
    border: 1px solid $secondary;
}

//original selectors
//.p-button.p-button-secondary.p-button-text, .p-buttonset.p-button-secondary >.p-button.p-button-text, .p-splitbutton.p-button-secondary >.p-button.p-button-text
//original selectors (merged from %extend_8)
//.p-button.p-button-secondary.p-button-text:enabled:hover, .p-buttonset.p-button-secondary >.p-button.p-button-text:enabled:hover, .p-splitbutton.p-button-secondary >.p-button.p-button-text:enabled:hover
//original selectors (merged from %extend_9)
//.p-button.p-button-secondary.p-button-text:enabled:active, .p-buttonset.p-button-secondary >.p-button.p-button-text:enabled:active, .p-splitbutton.p-button-secondary >.p-button.p-button-text:enabled:active
%secondary_text {
    background-color: transparent;
    color: $secondary;
    border-color: transparent;
}

//original selectors
//.p-button.p-button-info, .p-buttonset.p-button-info >.p-button, .p-splitbutton.p-button-info >.p-button
%info {
    color: $white;
    background: $info;
    border: 1px solid $info;
}

//original selectors
//.p-button.p-button-info:enabled:hover, .p-buttonset.p-button-info >.p-button:enabled:hover, .p-splitbutton.p-button-info >.p-button:enabled:hover
%info_hover {
    background: darken($info, 7.5%);
    color: $white;
    border-color: darken($info, 7.5%);
}

//original selectors
//.p-button.p-button-info:enabled:active, .p-buttonset.p-button-info >.p-button:enabled:active, .p-splitbutton.p-button-info >.p-button:enabled:active
%info_active {
    background: darken($info, 7.5%);
    color: $white;
    border-color: darken($info, 7.5%);
}

//original selectors
//.p-button.p-button-info.p-button-outlined, .p-buttonset.p-button-info >.p-button.p-button-outlined, .p-splitbutton.p-button-info >.p-button.p-button-outlined
%info_outlined {
    background-color: transparent;
    color: $info;
    border: 1px solid $info;
}

//original selectors
//.p-button.p-button-info.p-button-outlined:enabled:hover, .p-buttonset.p-button-info >.p-button.p-button-outlined:enabled:hover, .p-splitbutton.p-button-info >.p-button.p-button-outlined:enabled:hover
//original selectors
//.p-button.p-button-info.p-button-outlined:enabled:active, .p-buttonset.p-button-info >.p-button.p-button-outlined:enabled:active, .p-splitbutton.p-button-info >.p-button.p-button-outlined:enabled:active
%info_outlined_hover_active {
    background: $info;
    color: $white;
    border: 1px solid $info;
}

//original selectors
//.p-button.p-button-info.p-button-text, .p-buttonset.p-button-info >.p-button.p-button-text, .p-splitbutton.p-button-info >.p-button.p-button-text
//original selectors
//.p-button.p-button-info.p-button-text:enabled:hover, .p-buttonset.p-button-info >.p-button.p-button-text:enabled:hover, .p-splitbutton.p-button-info >.p-button.p-button-text:enabled:hover
//original selectors
//.p-button.p-button-info.p-button-text:enabled:active, .p-buttonset.p-button-info >.p-button.p-button-text:enabled:active, .p-splitbutton.p-button-info >.p-button.p-button-text:enabled:active
%info_text {
    background-color: transparent;
    color: $info;
    border-color: transparent;
}

//original selectors
//.p-button.p-button-success, .p-buttonset.p-button-success >.p-button, .p-splitbutton.p-button-success >.p-button
%success {
    color: $white;
    background: $success;
    border: 1px solid $success;
}

//original selectors
//.p-button.p-button-success:enabled:hover, .p-buttonset.p-button-success >.p-button:enabled:hover, .p-splitbutton.p-button-success >.p-button:enabled:hover
%success_hover {
    background: darken($success, 7.5%);
    color: $white;
    border-color: darken($success, 7.5%);
}

//original selectors
//.p-button.p-button-success:enabled:active, .p-buttonset.p-button-success >.p-button:enabled:active, .p-splitbutton.p-button-success >.p-button:enabled:active
%success_active {
    background: darken($success, 7.5%);
    color: $white;
    border-color: darken($success, 7.5%);
}

//original selectors
//.p-button.p-button-success.p-button-outlined, .p-buttonset.p-button-success >.p-button.p-button-outlined, .p-splitbutton.p-button-success >.p-button.p-button-outlined
%success_outlined {
    background-color: transparent;
    color: $success;
    border: 1px solid $success;
}

//original selectors
//.p-button.p-button-success.p-button-outlined:enabled:hover, .p-buttonset.p-button-success >.p-button.p-button-outlined:enabled:hover, .p-splitbutton.p-button-success >.p-button.p-button-outlined:enabled:hover
//original selectors
//.p-button.p-button-success.p-button-outlined:enabled:active, .p-buttonset.p-button-success >.p-button.p-button-outlined:enabled:active, .p-splitbutton.p-button-success >.p-button.p-button-outlined:enabled:active
%success_outlined_hover_active {
    background: $success;
    color: $white;
    border: 1px solid $success;
}

//original selectors
//.p-button.p-button-success.p-button-text, .p-buttonset.p-button-success >.p-button.p-button-text, .p-splitbutton.p-button-success >.p-button.p-button-text
//.p-button.p-button-success.p-button-text:enabled:hover, .p-buttonset.p-button-success >.p-button.p-button-text:enabled:hover, .p-splitbutton.p-button-success >.p-button.p-button-text:enabled:hover
//original selectors
//.p-button.p-button-success.p-button-text:enabled:active, .p-buttonset.p-button-success >.p-button.p-button-text:enabled:active, .p-splitbutton.p-button-success >.p-button.p-button-text:enabled:active
%success_text {
    background-color: transparent;
    color: $success;
    border-color: transparent;
}

//original selectors
//.p-button.p-button-warning, .p-buttonset.p-button-warning >.p-button, .p-splitbutton.p-button-warning >.p-button
%warning {
    color: $white;
    background: $warning;
    border: 1px solid $warning;
}

//original selectors
//.p-button.p-button-warning:enabled:hover, .p-buttonset.p-button-warning >.p-button:enabled:hover, .p-splitbutton.p-button-warning >.p-button:enabled:hover
%warning_hover {
    background: darken($warning, 7.5%);
    color: $white;
    border-color: darken($warning, 7.5%);
}

//original selectors
//.p-button.p-button-warning:enabled:active, .p-buttonset.p-button-warning >.p-button:enabled:active, .p-splitbutton.p-button-warning >.p-button:enabled:active
%warning_active {
    background: darken($warning, 7.5%);
    color: $white;
    border-color: darken($warning, 7.5%);
}

//original selectors
//.p-button.p-button-warning.p-button-outlined, .p-buttonset.p-button-warning >.p-button.p-button-outlined, .p-splitbutton.p-button-warning >.p-button.p-button-outlined
%warning_outlined {
    background-color: transparent;
    color: $warning;
    border: 1px solid $warning;
}

//original selectors
//.p-button.p-button-warning.p-button-outlined:enabled:hover, .p-buttonset.p-button-warning >.p-button.p-button-outlined:enabled:hover, .p-splitbutton.p-button-warning >.p-button.p-button-outlined:enabled:hover
//original selectors
//.p-button.p-button-warning.p-button-outlined:enabled:active, .p-buttonset.p-button-warning >.p-button.p-button-outlined:enabled:active, .p-splitbutton.p-button-warning >.p-button.p-button-outlined:enabled:active
%warning_outlined_hover_active {
    background: $warning;
    color: $white;
    border: 1px solid $warning;
}

//original selectors
//.p-button.p-button-warning.p-button-text, .p-buttonset.p-button-warning >.p-button.p-button-text, .p-splitbutton.p-button-warning >.p-button.p-button-text
//original selectors
//.p-button.p-button-warning.p-button-text:enabled:hover, .p-buttonset.p-button-warning >.p-button.p-button-text:enabled:hover, .p-splitbutton.p-button-warning >.p-button.p-button-text:enabled:hover
//original selectors
//.p-button.p-button-warning.p-button-text:enabled:active, .p-buttonset.p-button-warning >.p-button.p-button-text:enabled:active, .p-splitbutton.p-button-warning >.p-button.p-button-text:enabled:active
%warning_text {
    background-color: transparent;
    color: $warning;
    border-color: transparent;
}

//original selectors
//.p-button.p-button-help, .p-buttonset.p-button-help >.p-button, .p-splitbutton.p-button-help >.p-button
%help {
    color: $white;
    background: $help;
    border: 1px solid $help;
}

//original selectors
//.p-button.p-button-help:enabled:hover, .p-buttonset.p-button-help >.p-button:enabled:hover, .p-splitbutton.p-button-help >.p-button:enabled:hover
%help_hover {
    background: darken($help, 7.5%);
    color: $white;
    border-color: darken($help, 7.5%);
}

//original selectors
//.p-button.p-button-help:enabled:active, .p-buttonset.p-button-help >.p-button:enabled:active, .p-splitbutton.p-button-help >.p-button:enabled:active
%help_active {
    background: darken($help, 7.5%);
    color: $white;
    border-color: darken($help, 7.5%);
}

//original selectors
//.p-button.p-button-help.p-button-outlined, .p-buttonset.p-button-help >.p-button.p-button-outlined, .p-splitbutton.p-button-help >.p-button.p-button-outlined
%help_outlined {
    background-color: transparent;
    color: $help;
    border: 1px solid $help;
}

//original selectors
//.p-button.p-button-help.p-button-outlined:enabled:hover, .p-buttonset.p-button-help >.p-button.p-button-outlined:enabled:hover, .p-splitbutton.p-button-help >.p-button.p-button-outlined:enabled:hover
//original selectors
//.p-button.p-button-help.p-button-outlined:enabled:active, .p-buttonset.p-button-help >.p-button.p-button-outlined:enabled:active, .p-splitbutton.p-button-help >.p-button.p-button-outlined:enabled:active
%help_outlined_hover_active {
    background: $help;
    color: $white;
    border: 1px solid $help;
}

//original selectors
//.p-button.p-button-help.p-button-text, .p-buttonset.p-button-help >.p-button.p-button-text, .p-splitbutton.p-button-help >.p-button.p-button-text
//original selectors
//.p-button.p-button-help.p-button-text:enabled:hover, .p-buttonset.p-button-help >.p-button.p-button-text:enabled:hover, .p-splitbutton.p-button-help >.p-button.p-button-text:enabled:hover
//original selectors
//.p-button.p-button-help.p-button-text:enabled:active, .p-buttonset.p-button-help >.p-button.p-button-text:enabled:active, .p-splitbutton.p-button-help >.p-button.p-button-text:enabled:active
%help_text {
    background-color: transparent;
    color: $help;
    border-color: transparent;
}

//original selectors
//.p-button.p-button-danger, .p-buttonset.p-button-danger >.p-button, .p-splitbutton.p-button-danger >.p-button
%danger {
    color: $white;
    background: $danger;
    border: 1px solid $danger;
}

//original selectors
//.p-button.p-button-danger:enabled:hover, .p-buttonset.p-button-danger >.p-button:enabled:hover, .p-splitbutton.p-button-danger >.p-button:enabled:hover
%danger_hover {
    background: darken($danger, 7.5%);
    color: $white;
    border-color: darken($danger, 7.5%);
}

//original selectors
//.p-button.p-button-danger:enabled:active, .p-buttonset.p-button-danger >.p-button:enabled:active, .p-splitbutton.p-button-danger >.p-button:enabled:active
%danger_active {
    background: darken($danger, 7.5%);
    color: $white;
    border-color: darken($danger, 7.5%);
}

//original selectors
//.p-button.p-button-danger.p-button-outlined, .p-buttonset.p-button-danger >.p-button.p-button-outlined, .p-splitbutton.p-button-danger >.p-button.p-button-outlined
%danger_outlined {
    background-color: transparent;
    color: $danger;
    border: 1px solid $danger;
}

//original selectors
//.p-button.p-button-danger.p-button-outlined:enabled:hover, .p-buttonset.p-button-danger >.p-button.p-button-outlined:enabled:hover, .p-splitbutton.p-button-danger >.p-button.p-button-outlined:enabled:hover
//original selectors
//.p-button.p-button-danger.p-button-outlined:enabled:active, .p-buttonset.p-button-danger >.p-button.p-button-outlined:enabled:active, .p-splitbutton.p-button-danger >.p-button.p-button-outlined:enabled:active
%danger_outlined_hover_active {
    background: $danger;
    color: $white;
    border: 1px solid $danger;
}

//original selectors
//.p-button.p-button-danger.p-button-text, .p-buttonset.p-button-danger >.p-button.p-button-text, .p-splitbutton.p-button-danger >.p-button.p-button-text

//original selectors
//.p-button.p-button-danger.p-button-text:enabled:hover, .p-buttonset.p-button-danger >.p-button.p-button-text:enabled:hover, .p-splitbutton.p-button-danger >.p-button.p-button-text:enabled:hover
//original selectors
//.p-button.p-button-danger.p-button-text:enabled:active, .p-buttonset.p-button-danger >.p-button.p-button-text:enabled:active, .p-splitbutton.p-button-danger >.p-button.p-button-text:enabled:active
%danger_text {
    background-color: transparent;
    color: $danger;
    border-color: transparent;
}

.p-button {
    color: $white;
    background: $primary;
    border: 1px solid $primary;
    padding: $btn-padding-y $btn-padding-x;
    font-size: $font-size-base;
    transition: $btn-transition;
    border-radius: 0;
    &:enabled {
        &:hover {
            background: darken($primary, 7.5%);
            color: $white;
            border-color: darken($primary, 7.5%);
        }
        &:active {
            background: darken($primary, 7.5%);
            color: $white;
            border-color: darken($primary, 7.5%);
        }
    }

    &:disabled {
        opacity: $btn-disabled-opacity;
    }
    &.p-button-outlined {
        background-color: transparent;
        color: $primary;
        border: 1px solid $primary;
        &:enabled {
            &:hover {
                background: $primary;
                color: $white;
                border: 1px solid $primary;
            }
            &:active {
                background: $primary;
                color: $white;
                border: 1px solid $primary;
            }
        }
    }
    &.p-button-text {
        background-color: transparent;
        color: $primary;
        border-color: transparent;
        &:enabled {
            &:hover {
                background: transparent;
                color: $primary;
                border-color: transparent;
            }
            &:active {
                background: transparent;
                color: $primary;
                border-color: transparent;
            }
        }
        &.p-button-plain {
            color: $secondary;
            &:enabled {
                &:hover {
                    color: $secondary;
                }
                &:active {
                    color: $secondary;
                }
            }
        }
    }
    &:focus {
        outline: 0 none;
        outline-offset: 0;
        box-shadow: $btn-focus-box-shadow;
    }
    .p-button-icon-left {
        margin-right: 0.5rem;
    }
    .p-button-icon-right {
        margin-left: 0.5rem;
    }
    .p-button-icon-bottom {
        margin-top: 0.5rem;
    }
    .p-button-icon-top {
        margin-bottom: 0.5rem;
    }
    .p-badge {
        margin-left: 0.5rem;
        min-width: 1rem;
        height: 1rem;
        line-height: 1rem;
        color: $primary;
        background-color: $white;
    }
    &.p-button-rounded {
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 2rem;
    }
    &.p-button-icon-only {
        width: 2.357rem;
        padding: 0.5rem 0;
        .p-button-icon-left {
            margin: 0;
        }
        .p-button-icon-right {
            margin: 0;
        }
        &.p-button-rounded {
            //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
            border-radius: 50%;
            height: 2.357rem;
        }
    }
    &.p-button-sm {
        font-size: $font-size-sm;
        padding: $btn-padding-y-sm $btn-padding-x-sm;
        .p-button-icon {
            font-size: $font-size-sm;
        }
    }
    &.p-button-lg {
        font-size: $font-size-lg;
        padding: $btn-padding-y-lg $btn-padding-x-lg;
        .p-button-icon {
            font-size: $font-size-lg;
        }
    }
    &.p-button-secondary {
        @extend %secondary;
        &:enabled {
            &:hover {
                @extend %secondary_hover;
            }
            &:focus {
                box-shadow: 0 0 0 $input-btn-focus-width rgba($secondary, 0.25);
            }
            &:active {
                @extend %secondary_active;
            }
        }
        &.p-button-outlined {
            @extend %secondary_outlined;
            &:enabled {
                &:hover {
                    @extend %secondary_outlined_hover_active;
                }
                &:active {
                    @extend %secondary_outlined_hover_active;
                }
            }
        }
        &.p-button-text {
            @extend %secondary_text;
            &:enabled {
                &:hover {
                    @extend %secondary_text;
                }
                &:active {
                    @extend %secondary_text;
                }
            }
        }
    }
    &.p-button-info {
        @extend %info;
        &:enabled {
            &:hover {
                @extend %info_hover;
            }
            &:focus {
                box-shadow: 0 0 0 $input-btn-focus-width rgba($info, 0.25);
            }
            &:active {
                @extend %info_active;
            }
        }
        &.p-button-outlined {
            @extend %info_outlined;
            &:enabled {
                &:hover {
                    @extend %info_outlined_hover_active;
                }
                &:active {
                    @extend %info_outlined_hover_active;
                }
            }
        }
        &.p-button-text {
            @extend %info_text;
            &:enabled {
                &:hover {
                    @extend %info_text;
                }
                &:active {
                    @extend %info_text;
                }
            }
        }
    }
    &.p-button-success {
        @extend %success;
        &:enabled {
            &:hover {
                @extend %success_hover;
            }
            &:focus {
                box-shadow: 0 0 0 $input-btn-focus-width rgba($success, 0.25);
            }
            &:active {
                @extend %success_active;
            }
        }
        &.p-button-outlined {
            @extend %success_outlined;
            &:enabled {
                &:hover {
                    @extend %success_outlined_hover_active;
                }
                &:active {
                    @extend %success_outlined_hover_active;
                }
            }
        }
        &.p-button-text {
            @extend %success_text;
            &:enabled {
                &:hover {
                    @extend %success_text;
                }
                &:active {
                    @extend %success_text;
                }
            }
        }
    }
    &.p-button-warning {
        @extend %warning;
        &:enabled {
            &:hover {
                @extend %warning_hover;
            }
            &:focus {
                box-shadow: 0 0 0 $input-btn-focus-width rgba($warning, 0.25);
            }
            &:active {
                @extend %warning_active;
            }
        }
        &.p-button-outlined {
            @extend %warning_outlined;
            &:enabled {
                &:hover {
                    @extend %warning_outlined_hover_active;
                }
                &:active {
                    @extend %warning_outlined_hover_active;
                }
            }
        }
        &.p-button-text {
            @extend %warning_text;
            &:enabled {
                &:hover {
                    @extend %warning_text;
                }
                &:active {
                    @extend %warning_text;
                }
            }
        }
    }
    &.p-button-help {
        @extend %help;
        &:enabled {
            &:hover {
                @extend %help_hover;
            }
            &:focus {
                box-shadow: 0 0 0 $input-btn-focus-width rgba($help, 0.25);
            }
            &:active {
                @extend %help_active;
            }
        }
        &.p-button-outlined {
            @extend %help_outlined;
            &:enabled {
                &:hover {
                    @extend %help_outlined_hover_active;
                }
                &:active {
                    @extend %help_outlined_hover_active;
                }
            }
        }
        &.p-button-text {
            @extend %help_text;
            &:enabled {
                &:hover {
                    @extend %help_text;
                }
                &:active {
                    @extend %help_text;
                }
            }
        }
    }
    &.p-button-danger {
        @extend %danger;
        &:enabled {
            &:hover {
                @extend %danger_hover;
            }
            &:focus {
                box-shadow: 0 0 0 $input-btn-focus-width rgba($danger, 0.25);
            }
            &:active {
                @extend %danger_active;
            }
        }
        &.p-button-outlined {
            @extend %danger_outlined;
            &:enabled {
                &:hover {
                    @extend %danger_outlined_hover_active;
                }
                &:active {
                    @extend %danger_outlined_hover_active;
                }
            }
        }
        &.p-button-text {
            @extend %danger_text;
            &:enabled {
                &:hover {
                    @extend %danger_text;
                }
                &:active {
                    @extend %danger_text;
                }
            }
        }
    }
    &.p-button-link {
        color: $primary;
        background: transparent;
        border: transparent;
        &:enabled {
            &:hover {
                background: transparent;
                color: darken($primary, 7.5%);
                border-color: transparent;
                .p-button-label {
                    text-decoration: underline;
                }
            }
            &:focus {
                background: transparent;
                border-color: transparent;
            }
            &:active {
                background: transparent;
                color: $primary;
                border-color: transparent;
            }
        }
    }
}
.p-fluid {
    .p-button {
        width: 100%;
    }
    .p-button-icon-only {
        width: 2.357rem;
    }
    .p-buttonset {
        display: flex;
        .p-button {
            flex: 1;
        }
    }
}
.p-buttonset {
    &.p-button-secondary > .p-button {
        @extend %secondary;
        &:enabled {
            &:hover {
                @extend %secondary_hover;
            }
            &:focus {
                box-shadow: 0 0 0 $input-btn-focus-width rgba($secondary, 0.25);
            }
            &:active {
                @extend %secondary_active;
            }
        }
        &.p-button-outlined {
            @extend %secondary_outlined;
            &:enabled {
                &:hover {
                    @extend %secondary_outlined_hover_active;
                }
                &:active {
                    @extend %secondary_outlined_hover_active;
                }
            }
        }
        &.p-button-text {
            @extend %secondary_text;
            &:enabled {
                &:hover {
                    @extend %secondary_text;
                }
                &:active {
                    @extend %secondary_text;
                }
            }
        }
    }
    &.p-button-info > .p-button {
        @extend %info;
        &:enabled {
            &:hover {
                @extend %info_hover;
            }
            &:focus {
                box-shadow: 0 0 0 $input-btn-focus-width rgba($info, 0.25);
            }
            &:active {
                @extend %info_active;
            }
        }
        &.p-button-outlined {
            @extend %info_outlined;
            &:enabled {
                &:hover {
                    @extend %info_outlined_hover_active;
                }
                &:active {
                    @extend %info_outlined_hover_active;
                }
            }
        }
        &.p-button-text {
            @extend %info_text;
            &:enabled {
                &:hover {
                    @extend %info_text;
                }
                &:active {
                    @extend %info_text;
                }
            }
        }
    }
    &.p-button-success > .p-button {
        @extend %success;
        &:enabled {
            &:hover {
                @extend %success_hover;
            }
            &:focus {
                box-shadow: 0 0 0 $input-btn-focus-width rgba($success, 0.25);
            }
            &:active {
                @extend %success_active;
            }
        }
        &.p-button-outlined {
            @extend %success_outlined;
            &:enabled {
                &:hover {
                    @extend %success_outlined_hover_active;
                }
                &:active {
                    @extend %success_outlined_hover_active;
                }
            }
        }
        &.p-button-text {
            @extend %success_text;
            &:enabled {
                &:hover {
                    @extend %success_text;
                }
                &:active {
                    @extend %success_text;
                }
            }
        }
    }
    &.p-button-warning > .p-button {
        @extend %warning;
        &:enabled {
            &:hover {
                @extend %warning_hover;
            }
            &:focus {
                box-shadow: 0 0 0 $input-btn-focus-width rgba($warning, 0.25);
            }
            &:active {
                @extend %warning_active;
            }
        }
        &.p-button-outlined {
            @extend %warning_outlined;
            &:enabled {
                &:hover {
                    @extend %warning_outlined_hover_active;
                }
                &:active {
                    @extend %warning_outlined_hover_active;
                }
            }
        }
        &.p-button-text {
            @extend %warning_text;
            &:enabled {
                &:hover {
                    @extend %warning_text;
                }
                &:active {
                    @extend %warning_text;
                }
            }
        }
    }
    &.p-button-help > .p-button {
        @extend %help;
        &:enabled {
            &:hover {
                @extend %help_hover;
            }
            &:focus {
                box-shadow: 0 0 0 $input-btn-focus-width rgba($help, 0.25);
            }
            &:active {
                @extend %help_active;
            }
        }
        &.p-button-outlined {
            @extend %help_outlined;
            &:enabled {
                &:hover {
                    @extend %help_outlined_hover_active;
                }
                &:active {
                    @extend %help_outlined_hover_active;
                }
            }
        }
        &.p-button-text {
            @extend %help_text;
            &:enabled {
                &:hover {
                    @extend %help_text;
                }
                &:active {
                    @extend %help_text;
                }
            }
        }
    }
    &.p-button-danger > .p-button {
        @extend %danger;
        &:enabled {
            &:hover {
                @extend %danger_hover;
            }
            &:focus {
                box-shadow: 0 0 0 $input-btn-focus-width rgba($danger, 0.25);
            }
            &:active {
                @extend %danger_active;
            }
        }
        &.p-button-outlined {
            @extend %danger_outlined;
            &:enabled {
                &:hover {
                    @extend %danger_outlined_hover_active;
                }
                &:active {
                    @extend %danger_outlined_hover_active;
                }
            }
        }
        &.p-button-text {
            @extend %danger_text;
            &:enabled {
                &:hover {
                    @extend %danger_text;
                }
                &:active {
                    @extend %danger_text;
                }
            }
        }
    }
}
.p-splitbutton {
    &.p-button-secondary > .p-button {
        @extend %secondary;
        &:enabled {
            &:hover {
                @extend %secondary_hover;
            }
            &:focus {
                box-shadow: 0 0 0 $input-btn-focus-width rgba($secondary, 0.25);
            }
            &:active {
                @extend %secondary_active;
            }
        }
        &.p-button-outlined {
            @extend %secondary_outlined;
            &:enabled {
                &:hover {
                    @extend %secondary_outlined_hover_active;
                }
                &:active {
                    @extend %secondary_outlined_hover_active;
                }
            }
        }
        &.p-button-text {
            @extend %secondary_text;
            &:enabled {
                &:hover {
                    @extend %secondary_text;
                }
                &:active {
                    @extend %secondary_text;
                }
            }
        }
    }
    &.p-button-info > .p-button {
        @extend %info;
        &:enabled {
            &:hover {
                @extend %info_hover;
            }
            &:focus {
                box-shadow: 0 0 0 $input-btn-focus-width rgba($info, 0.25);
            }
            &:active {
                @extend %info_active;
            }
        }
        &.p-button-outlined {
            @extend %info_outlined;
            &:enabled {
                &:hover {
                    @extend %info_outlined_hover_active;
                }
                &:active {
                    @extend %info_outlined_hover_active;
                }
            }
        }
        &.p-button-text {
            @extend %info_text;
            &:enabled {
                &:hover {
                    @extend %info_text;
                }
                &:active {
                    @extend %info_text;
                }
            }
        }
    }
    &.p-button-success > .p-button {
        @extend %success;
        &:enabled {
            &:hover {
                @extend %success_hover;
            }
            &:focus {
                box-shadow: 0 0 0 $input-btn-focus-width rgba($success, 0.25);
            }
            &:active {
                @extend %success_active;
            }
        }
        &.p-button-outlined {
            @extend %success_outlined;
            &:enabled {
                &:hover {
                    @extend %success_outlined_hover_active;
                }
                &:active {
                    @extend %success_outlined_hover_active;
                }
            }
        }
        &.p-button-text {
            @extend %success_text;
            &:enabled {
                &:hover {
                    @extend %success_text;
                }
                &:active {
                    @extend %success_text;
                }
            }
        }
    }
    &.p-button-warning > .p-button {
        @extend %warning;
        &:enabled {
            &:hover {
                @extend %warning_hover;
            }
            &:focus {
                box-shadow: 0 0 0 $input-btn-focus-width rgba($warning, 0.25);
            }
            &:active {
                @extend %warning_active;
            }
        }
        &.p-button-outlined {
            @extend %warning_outlined;
            &:enabled {
                &:hover {
                    @extend %warning_outlined_hover_active;
                }
                &:active {
                    @extend %warning_outlined_hover_active;
                }
            }
        }
        &.p-button-text {
            @extend %warning_text;
            &:enabled {
                &:hover {
                    @extend %warning_text;
                }
                &:active {
                    @extend %warning_text;
                }
            }
        }
    }
    &.p-button-help > .p-button {
        @extend %help;
        &:enabled {
            &:hover {
                @extend %help_hover;
            }
            &:focus {
                box-shadow: 0 0 0 $input-btn-focus-width rgba($help, 0.25);
            }
            &:active {
                @extend %help_active;
            }
        }
        &.p-button-outlined {
            @extend %help_outlined;
            &:enabled {
                &:hover {
                    @extend %help_outlined_hover_active;
                }
                &:active {
                    @extend %help_outlined_hover_active;
                }
            }
        }
        &.p-button-text {
            @extend %help_text;
            &:enabled {
                &:hover {
                    @extend %help_text;
                }
                &:active {
                    @extend %help_text;
                }
            }
        }
    }
    &.p-button-danger > .p-button {
        @extend %danger;
        &:enabled {
            &:hover {
                @extend %danger_hover;
            }
            &:focus {
                box-shadow: 0 0 0 $input-btn-focus-width rgba($danger, 0.25);
            }
            &:active {
                @extend %danger_active;
            }
        }
        &.p-button-outlined {
            @extend %danger_outlined;
            &:enabled {
                &:hover {
                    @extend %danger_outlined_hover_active;
                }
                &:active {
                    @extend %danger_outlined_hover_active;
                }
            }
        }
        &.p-button-text {
            @extend %danger_text;
            &:enabled {
                &:hover {
                    @extend %danger_text;
                }
                &:active {
                    @extend %danger_text;
                }
            }
        }
    }
}
