// Based on https://raw.githubusercontent.com/primefaces/primereact/master/public/themes/bootstrap4-light-blue/theme.css

.p-component {
    font-family: $font-family-sans-serif;
    font-size: $font-size-base;
    font-weight: $font-weight-normal;
}

.p-component-overlay {
    background-color: $modal-backdrop-bg;
    opacity: $modal-backdrop-opacity;
    transition: $transition-base;
}

.p-error,
.p-invalid {
    color: $danger;
}

.p-text-secondary {
    color: $secondary;
}

.pi {
    font-size: $font-size-base;
}

// This is obnoxious - p-link is a button class...
.p-link {
    font-size: $font-size-base;
    font-family: $font-family-sans-serif;
    border-radius: $border-radius;
    padding: $btn-padding-y $btn-padding-x;
    line-height: $btn-line-height;
    border-width: $btn-border-width;
    font-weight: $btn-font-weight;
    box-shadow: $btn-box-shadow;

    &:focus {
        outline: 0 none;
        outline-offset: 0;
        box-shadow: $btn-active-box-shadow;
    }
}
