// Based on https://raw.githubusercontent.com/primefaces/primereact/master/public/themes/bootstrap4-light-blue/theme.css
// SCSS conversion by https://sebastianpontow.de/css2compass/

// Colors
$primary: $casal;
$danger: #db3b21;

.p-multiselect {
    background: $white;
    border: $input-border-width solid $input-border-color;
    transition: $input-transition;
    border-radius: 0px;
    flex-wrap: nowrap;
    display: inline-flex !important;

    .p-multiselect-label {
        padding: 0.375rem 0.75rem;

        > div {
            padding: 0.25rem 0.75rem;
            margin-right: 0.5rem;
            background: $primary;
            color: $white;
            display: inline;
        }
    }

    &.form-control {
        .p-multiselect-label {
            padding: 0;
        }
    }

    &.p-multiselect-chip {
        .p-multiselect-token-icon {
            margin-left: 0.5rem;
        }
    }

    .p-multiselect-trigger {
        background: transparent;
        color: $gray-900;
        width: 1rem;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        margin-top: -0.1rem;
    }
    &.p-error {
        border-color: $danger;
    }
    &.p-invalid {
        border-color: $danger;
    }
    &:not(.p-disabled) {
        &.p-focus {
            outline: 0 none;
            outline-offset: 0;
            box-shadow: $input-focus-box-shadow;
            border-color: $input-focus-border-color;
        }
    }
}
.p-multiselect-panel {
    background: $white;
    color: $gray-900;
    border: $input-border-width solid $input-border-color;
    border-radius: 0px;
    box-shadow: none;
    .p-multiselect-header {
        padding: 0.5rem 1.5rem;
        border-bottom: 1px solid $gray-200;
        color: $gray-900;
        background: $gray-100;
        margin: 0;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
        .p-multiselect-filter-container {
            .p-inputtext {
                padding-right: 1.75rem;
            }
            .p-multiselect-filter-icon {
                right: 0.75rem;
                top: 0.9rem;
                color: $gray-900;
            }
        }
        .p-checkbox {
            margin-right: 0.5rem;
        }
        .p-multiselect-close {
            margin-left: 0.5rem;
            width: 2rem;
            height: 2rem;
            color: $gray-900;
            border: 1px solid $gray-100;
            background: transparent;
            border-radius: 0;
            box-shadow: none;
            &:focus {
                outline: 0 none;
                outline-offset: 0;
                box-shadow: $input-focus-box-shadow;
            }
            &:enabled:hover {
                color: $gray-900;
                border-color: transparent;
                background: transparent;
            }
        }
    }
    .p-multiselect-items {
        .p-multiselect-item {
            margin: 0;
            padding: 0.5rem 1.5rem;
            border: 0 none;
            color: $gray-900;
            background: transparent;
            transition: box-shadow 0.15s;
            border-radius: 0;
            &.p-highlight {
                background: lighten($casal, 60%);
                color: $gray-900;

                &:focus {
                    .p-checkbox {
                        .p-checkbox-box {
                            box-shadow: 0 0 0 $input-btn-focus-width rgba($white, 0.25);
                        }
                    }
                }
            }
            &:focus {
                outline: 0 none;
                outline-offset: 0;

                .p-checkbox {
                    .p-checkbox-box {
                        box-shadow: $input-focus-box-shadow;
                    }
                }
            }
            .p-checkbox {
                margin-right: 0.5rem;
            }
            &:not(.p-highlight):not(.p-disabled):hover {
                color: $gray-900;
                background: $gray-100;
            }
        }
        .p-multiselect-empty-message {
            padding: 0.5rem 1.5rem;
            color: $gray-900;
            background: transparent;
        }
    }
}
