// Based on https://raw.githubusercontent.com/primefaces/primereact/master/public/themes/bootstrap4-light-blue/theme.css
// SCSS conversion by https://sebastianpontow.de/css2compass/

//@extend-elements
//original selectors
//.p-paginator .p-paginator-first, .p-paginator .p-paginator-prev, .p-paginator .p-paginator-next, .p-paginator .p-paginator-last
%extend_1 {
    background-color: $white;
    border: 1px solid $gray-100;
    color: $casal;
    min-width: 2.357rem;
    height: 2.357rem;
    margin: 0 0 0 -1px;
    border-radius: 0;
}

//original selectors
//.p-paginator .p-paginator-first:not(.p-disabled):not(.p-highlight):hover, .p-paginator .p-paginator-prev:not(.p-disabled):not(.p-highlight):hover, .p-paginator .p-paginator-next:not(.p-disabled):not(.p-highlight):hover, .p-paginator .p-paginator-last:not(.p-disabled):not(.p-highlight):hover
%extend_2 {
    background: $gray-100;
    border-color: $gray-100;
    color: $casal;
}

.p-paginator {
    background: $white;
    color: $casal;
    border: solid $gray-100;
    border-width: 0;
    padding: 0.75rem;
    border-radius: 0;
    .p-paginator-first {
        @extend %extend_1;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        &:not(.p-disabled):not(.p-highlight):hover {
            @extend %extend_2;
        }
    }
    .p-paginator-prev {
        @extend %extend_1;
        &:not(.p-disabled):not(.p-highlight):hover {
            @extend %extend_2;
        }
    }
    .p-paginator-next {
        @extend %extend_1;
        &:not(.p-disabled):not(.p-highlight):hover {
            @extend %extend_2;
        }
    }
    .p-paginator-last {
        @extend %extend_1;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        &:not(.p-disabled):not(.p-highlight):hover {
            @extend %extend_2;
        }
    }
    .p-dropdown {
        margin-left: 0.5rem;
        height: 2.357rem;
        .p-dropdown-label {
            padding-right: 0;
        }
    }
    .p-paginator-current {
        background-color: $white;
        border: 1px solid $gray-100;
        color: $casal;
        min-width: 2.357rem;
        height: 2.357rem;
        margin: 0 0 0 -1px;
        padding: 0 0.5rem;
    }
    .p-paginator-pages .p-paginator-page {
        background-color: $white;
        border: 1px solid $gray-100;
        color: $casal;
        min-width: 2.357rem;
        height: 2.357rem;
        margin: 0 0 0 -1px;
        border-radius: 0;
        &.p-highlight {
            background: $casal;
            border-color: $casal;
            color: $white;
        }
        &:not(.p-highlight):hover {
            background: $gray-100;
            border-color: $gray-100;
            color: $casal;
        }
    }
}
