.p-toast {
    opacity: 1;
    .p-toast-message {
        margin: 0 0 1rem 0;
        box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
        border-radius: 0;
        .p-toast-message-content {
            padding: 1rem;
            border-width: 0;
            .p-toast-message-text {
                margin: 0 0 0 1rem;
            }
            .p-toast-message-icon {
                font-size: 2rem;
            }
            .p-toast-summary {
                font-weight: 700;
            }
            .p-toast-detail {
                margin: 0.5rem 0 0 0;
            }
        }
        .p-toast-icon-close {
            width: 2rem;
            height: 2rem;
            border-radius: 0;
            background: transparent;
            transition: box-shadow 0.15s;
            box-shadow: none;
            &:focus {
                outline: 0 none;
                outline-offset: 0;
                box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.1);
            }
        }
        &.p-toast-message-info {
            background: tint($info, 10%);
            border: 1px solid tint($info, 40%);
            border-left: 4px solid shade($info, 10%);
            color: shade($info, 50%);
            .p-toast-message-icon {
                color: shade($info, 10%);
            }
            .p-toast-icon-close {
                color: shade($info, 10%);
            }
        }
        &.p-toast-message-success {
            background: tint($success, 10%);
            border: 1px solid tint($success, 40%);
            border-left: 4px solid shade($success, 10%);
            color: shade($success, 50%);
            .p-toast-message-icon {
                color: shade($success, 10%);
            }
            .p-toast-icon-close {
                color: shade($success, 10%);
            }
        }
        &.p-toast-message-warn {
            background: tint($warning, 10%);
            border: 1px solid tint($warning, 40%);
            border-left: 4px solid shade($warning, 10%);
            color: shade($warning, 50%);
            .p-toast-message-icon {
                color: shade($warning, 10%);
            }
            .p-toast-icon-close {
                color: shade($warning, 10%);
            }
        }
        &.p-toast-message-error {
            background: tint($danger, 10%);
            border: 1px solid tint($danger, 40%);
            border-left: 4px solid shade($danger, 10%);
            color: shade($danger, 50%);
            .p-toast-message-icon {
                color: shade($danger, 10%);
            }
            .p-toast-icon-close {
                color: shade($danger, 10%);
            }
        }
    }
}
