
@import "../../sass/colors";

.files {
    .card { 
        border-bottom: 0;

        &:last-of-type {
            border-bottom: 1px solid rgba(0,0,0,0.125);
        }
    }

    .card-header { 
        padding: 0.5rem 0.75rem; 
        background-color: tint($peach, 70%); 
        font-weight: 400;
        color: shade($peach, 60%);

        &.main-header{
            padding: 0.75rem 1.25rem;
            background-color: shade($peach, 80%);
            display: flex;
            align-items: center;
            justify-content: space-between;

            h2 { 
                margin-bottom: 0;
                line-height: 1;
                font-weight: 500;
            }

            a { color: $white; text-decoration-color: $white; }
        }
    }

    .badge.badge-pill.badge-dark {
        background: shade($peach, 60%);
        font-size: 1rem;
        font-weight: 300;
        width: 2.5rem;
    }

    .table {
        margin-bottom: 0;

        &.table-hover tbody tr:hover {
            background-color: tint($polo-blue, 10%);
        }
        
        td, th {
            vertical-align: middle;
        }

        th {
            &[scope='col'] {
                text-transform: capitalize;
            }

            &[scope='row'] {
                font-size: initial;

                a {
                    /* File icons */
                    &::before {
                        display: inline-block;
                        font: normal normal normal 1rem FontAwesome;
                        text-rendering: auto;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                        margin: 0 0.25rem 0 0;
                        content: '\f016';
                    }
                    // Archives
                    &[data-filetype='7z'],
                    &[data-filetype='ace'],
                    &[data-filetype='alz'],
                    &[data-filetype='arj'],
                    &[data-filetype='bz2'],
                    &[data-filetype='gz'],
                    &[data-filetype='lzh'],
                    &[data-filetype='lz'],
                    &[data-filetype='rar'],
                    &[data-filetype='tar'],
                    &[data-filetype='xz'],
                    &[data-filetype='zip']
                    {
                        &::before {
                            content: '\f1c3';
                        }
                    }
                    // Audio
                    &[data-filetype='aac'],
                    &[data-filetype='alac'],
                    &[data-filetype='flac'],
                    &[data-filetype='ogg'],
                    &[data-filetype='mid'],
                    &[data-filetype='mp1'],
                    &[data-filetype='mp2'],
                    &[data-filetype='mp3'],
                    &[data-filetype='wav'],
                    &[data-filetype='wma']
                    {
                        &::before {
                            content: '\f1c7';
                        }
                    }
                    // Excel/Spreadsheets
                    &[data-filetype='123'],
                    &[data-filetype='ab2'],
                    &[data-filetype='ab3'],
                    &[data-filetype='aws'],
                    &[data-filetype='bcsv'],
                    &[data-filetype='clf'],
                    &[data-filetype='cell'],
                    &[data-filetype='csv'],
                    &[data-filetype='gsheet'],
                    &[data-filetype='numbers'],
                    &[data-filetype='gnumeric'],
                    &[data-filetype='ods'],
                    &[data-filetype='osheet'],
                    &[data-filetype='ots'],
                    &[data-filetype='qpw'],
                    &[data-filetype='sdc'],
                    &[data-filetype='stc'],
                    &[data-filetype='sxc'],
                    &[data-filetype='tab'],
                    &[data-filetype='tsv'],
                    &[data-filetype='vc'],
                    &[data-filetype='wk1'],
                    &[data-filetype='wk3'],
                    &[data-filetype='wk4'],
                    &[data-filetype='wks'],
                    &[data-filetype='wq1'],
                    &[data-filetype='xlk'],
                    &[data-filetype='xls'],
                    &[data-filetype='xlsb'],
                    &[data-filetype='xlsm'],
                    &[data-filetype='xlsx'],
                    &[data-filetype='xlr'],
                    &[data-filetype='xlt'],
                    &[data-filetype='xltm'],
                    &[data-filetype='xlw']
                    {
                        &::before {
                            content: '\f1c3';
                        }
                    }
                    // Images
                    &[data-filetype='ai'],
                    &[data-filetype='awg'],
                    &[data-filetype='bmp'],
                    &[data-filetype='cgm'],
                    &[data-filetype='cdr'],
                    &[data-filetype='cmx'],
                    &[data-filetype='cpt'],
                    &[data-filetype='dxf'],
                    &[data-filetype='eps'],
                    &[data-filetype='gif'],  
                    &[data-filetype='icns'],
                    &[data-filetype='ico'],
                    &[data-filetype='jpg'],
                    &[data-filetype='jpeg'],
                    &[data-filetype='jp2'],
                    &[data-filetype='jps'],
                    &[data-filetype='miff'],
                    &[data-filetype='nitf'],
                    &[data-filetype='odg'],
                    &[data-filetype='pbm'],
                    &[data-filetype='pdn'],
                    &[data-filetype='pict'],
                    &[data-filetype='pct'],
                    &[data-filetype='png'],
                    &[data-filetype='pnm'],
                    &[data-filetype='pns'],
                    &[data-filetype='psb'],
                    &[data-filetype='psd'],
                    &[data-filetype='pdd'],
                    &[data-filetype='psp'],
                    &[data-filetype='pxm'],
                    &[data-filetype='pxr'],
                    &[data-filetype='raw'],
                    &[data-filetype='svg'],
                    &[data-filetype='sxd'],
                    &[data-filetype='tga'],
                    &[data-filetype='targa'],
                    &[data-filetype='tif'],
                    &[data-filetype='tiff'],
                    &[data-filetype='vsd'],
                    &[data-filetype='vsdx'],
                    &[data-filetype='xcf'] {
                        &::before {
                            content: '\f1c5';
                        }
                    }
                    // PDF
                    &[data-filetype='pdf']
                    {
                        &::before {
                            content: '\f1c1';
                        }
                    }
                    // PowerPoint/Presentations
                    &[data-filetype='gslides'],
                    &[data-filetype='key'],
                    &[data-filetype='keynote'],
                    &[data-filetype='nb'],
                    &[data-filetype='nbp'],
                    &[data-filetype='odp'],
                    &[data-filetype='otp'],
                    &[data-filetype='pez'],
                    &[data-filetype='pot'],
                    &[data-filetype='pps'],
                    &[data-filetype='ppt'],
                    &[data-filetype='pptx'],
                    &[data-filetype='prz'],
                    &[data-filetype='sdd'],
                    &[data-filetype='show'],
                    &[data-filetype='shw'],
                    &[data-filetype='slp'],
                    &[data-filetype='sspss'],
                    &[data-filetype='sti'],
                    &[data-filetype='sxi'],
                    &[data-filetype='thmx'],
                    &[data-filetype='watch']
                    {
                        &::before {
                            content: '\f1c4';
                        }
                    }
                    // Text
                    &[data-filetype='txt'],
                    &[data-filetype='0'],
                    &[data-filetype='1st'],
                    &[data-filetype='600'],
                    &[data-filetype='ans'],
                    &[data-filetype='asc'],
                    &[data-filetype='me'],
                    &[data-filetype='ott'],
                    &[data-filetype='rtf'],
                    &[data-filetype='tex'],
                    &[data-filetype='info']
                    {
                        &::before {
                            content: '\f0f6';
                        }
                    }
                    // Video
                    &[data-filetype='3gp'],
                    &[data-filetype='aaf'],
                    &[data-filetype='asf'],
                    &[data-filetype='avchd'],
                    &[data-filetype='avi'],
                    &[data-filetype='collab'],
                    &[data-filetype='m1v'],
                    &[data-filetype='m2v'],
                    &[data-filetype='m4v'],
                    &[data-filetype='mkv'],
                    &[data-filetype='mov'],
                    &[data-filetype='mp4'],
                    &[data-filetype='mpe'],
                    &[data-filetype='mpeg'],
                    &[data-filetype='mpg'],
                    &[data-filetype='rm'],
                    &[data-filetype='wmv'],
                    &[data-filetype='webm'] {
                        &::before {
                            content: '\f1c8';
                        }
                    }
                    // Word/Documents
                    &[data-filetype='abw'],
                    &[data-filetype='acl'],
                    &[data-filetype='afp'],
                    &[data-filetype='ami'],
                    &[data-filetype='aww'],
                    &[data-filetype='cwk'],
                    &[data-filetype='doc'],
                    &[data-filetype='docx'],
                    &[data-filetype='docm'],
                    &[data-filetype='dot'],
                    &[data-filetype='dotx'],
                    &[data-filetype='dwd'],
                    &[data-filetype='gdoc'],
                    &[data-filetype='hwp'],
                    &[data-filetype='lwp'],
                    &[data-filetype='mcw'],
                    &[data-filetype='nb'],
                    &[data-filetype='odm'],
                    &[data-filetype='odoc'],
                    &[data-filetype='odt'],
                    &[data-filetype='omm'],
                    &[data-filetype='pages'],
                    &[data-filetype='pap'],
                    &[data-filetype='sdw'],
                    &[data-filetype='stw'],
                    &[data-filetype='sxw'],
                    &[data-filetype='wpd'],
                    &[data-filetype='wps'],
                    &[data-filetype='wpt'],
                    &[data-filetype='wrd'],
                    &[data-filetype='wrf'],
                    &[data-filetype='wri']
                    {
                        &::before {
                            content: '\f1c2';
                        }
                    }
                }
            }
        }
    }
}
