
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind forms;

/* .root,
#root,
#docs-root {
  --primary-color: #fff;
  --secondary-color: #000;
} */

:root {
  /*
    Brand colors
    Ref: https://bux.osu.edu/color/primary-colors
  */
  --rui-scarlet: #ba0c2f;
  --rui-gray: #a7b1b7;

  /* Scarlet shades */
  --rui-scarlet-dark-60: #4a0513;
  --rui-scarlet-dark-40: #70071c;

  /* Gray tints */
  --rui-gray-tint-20: #bfc6cb;
  --rui-gray-tint-40: #cfd4d8;
  --rui-gray-tint-60: #dfe3e5;
  --rui-gray-tint-80: #eff1f2;
  --rui-gray-tint-90: #f6f7f8;

  /* Gray shades */
  --rui-gray-shade-20: #868e92;
  --rui-gray-shade-40: #646a6e;
  --rui-gray-shade-60: #3f4443;
  --rui-gray-shade-80: #212325;

  /* Neutrals */
  --rui-black: #141517;
  --rui-white: #ffffff;

  /*
    Accents
    Ref: https://bux.osu.edu/color/accent-colors
  */
  --rui-blue: #41b6e6;
  --rui-orange: #ff6a39;
  --rui-green: #8edd65;
  --rui-brown: #946037;
  --rui-pink: #fb637e;
  --rui-violet: #830065;
  --rui-aqua: #6bbbab;
  --rui-teal: #26686d;
  --rui-gold: #ffb600;

  /*
    System colors / utility colors
    Ref: https://bux.osu.edu/color/utility-colors
  */
  --rui-primary: var(--rui-scarlet);
  --rui-secondary: var(--rui-teal);
  --rui-tertiary: var(--rui-blue);

  --rui-info: #41b6e6;
  --rui-info-light: #c6e9f8;

  --rui-success: #80c75b;
  --rui-success-light: #dcf5d0;

  --rui-warning: #ffb600;
  --rui-warning-light: #fff0cc;

  --rui-error: #ba0c2f;
  --rui-error-light: #ffffff;

  --rui-focus: #41b6e6;

  --rui-visited: #660099;
  --rui-visited-light: #e5c9f3;
}
