/**
 * Styling alerts further and better supporting alert icons
 */

@mixin alert-extras($theme-color) {
    border-left: 4px solid $theme-color;
    background: tint($theme-color, 5%);

    padding: 1em;
    margin-bottom: 2rem;
    min-height: 4rem;

    .fa-stack {
        color: $theme-color;
        float: left;
        padding-top: 0.25em;
    }

    p {
        padding: 0.5em;
        margin: 0;
    }

    // If there's any paragraphs after an icon stack,
    // ensure they're all re-padded to fit the icon
    // on the left float
    .fa-stack ~ p {
        padding-left: 3em;
    }

    .alert-heading {
        padding: 0 0.5rem;
        color: $theme-color;
        font-weight: 500;
    }

    // CSS improvements to the close buttons for all alerts
    .alert-hide,
    .close {
        opacity: 0.8;
        line-height: 1;
        font-size: 1.5rem;
        font-weight: bold;
        text-shadow: 0 1px 0 #fff;

        padding: 0;
        cursor: pointer;
        color: $theme-color;
        background: transparent;
        border: 0;
        -webkit-appearance: none;

        float: right;
    }

    &.is-hidden {
        display: none;
    }
}

@each $color, $value in $theme-colors {
    .alert-#{$color} {
        @include alert-extras(theme-color($color));
    }
}
