/**
 * Styling alerts further and better supporting alert icons
 */

@mixin alert-extras($border) {
    border-left: 4px solid $border;

    padding: 1em;
    margin-bottom: 2rem;
    min-height: 4rem;

    .fa-stack {
        color: $border;
        float: left;
        padding-top: 0.25em;
    }

    p {
        padding: 0.5em;
        margin: 0;
    }

    // If there's any paragraphs after an icon stack,
    // ensure they're all re-padded to fit the icon 
    // on the left float    
    .fa-stack ~ p {
        padding-left: 3em;
    }

    .alert-heading {
        padding: 0 0.5rem;
        color: $border;
        font-weight: 500;
    }

    // Opacity is hardcoded to 0.2 in BS 4.0.0a4
    // .close {
    //     opacity: 0.4;
    // }
}

.alert-info {
    @include alert-extras($alert-info-border);
}

.alert-danger {
    @include alert-extras($alert-danger-border);
}

.alert-warning {
    @include alert-extras($alert-warning-border);
}

.alert-success {
    @include alert-extras($alert-success-border);
}
