/**
 * Styling alerts further and better supporting alert icons
 */

@mixin alert-extras($border) {
    border-left: 4px solid $border;

    padding: 1em;
    margin-bottom: 2rem;
    min-height: 4rem;

    .fa-stack {
        color: $border;
        float: left;
        padding-top: 0.25em;
    }

    p {
        padding: 0.5em;
        margin: 0;
    }

    // If there's any paragraphs after an icon stack,
    // ensure they're all re-padded to fit the icon
    // on the left float
    .fa-stack ~ p {
        padding-left: 3em;
    }

    .alert-heading {
        padding: 0 0.5rem;
        color: $border;
        font-weight: 500;
    }

    // CSS improvements to the 'hide' buttons for all alerts
    .alert-hide {
        opacity: 0.4;
        line-height: 1;

        padding: 0;
        cursor: pointer;
        color: $border;
        background: transparent;
        border: 0;
        -webkit-appearance: none;

        float: right;
        font-size: 1.5rem;
    }
}

@each $color, $value in $theme-colors {
    .alert-#{$color} {
        @include alert-extras(theme-color($color));
    }
}
