
// Because Bootstrap doesn't the right pointers for buttons
.btn {
    cursor: pointer;

    &:disabled {
        cursor: not-allowed;
    }

    &.btn-outline {
        @extend .btn-outline-secondary;

        // Force all "outline" buttons to use a white background,
        // as it's too easy to make a low contrast button.
        background: $white;
    }
}
