.form-group {
    // Enforce 1em padding between components in a form group
    textarea,
    input,
    select,
    label,
    legend,
    .input-group {
        margin-bottom: 1em;
    }

    // Have vertical (default) form legends behave
    // the same way as horizontal/inline form legends
    legend {
        @extend .col-form-legend;
        padding: 0;
    }

    // Fix cursor for disabled form controls
    .form-control {
        &:disabled {
            cursor: not-allowed;
        }
    }

    // Small (help text) padding improvements
    .form-text {
        font-size: 80%;
        color: $text-muted;
        margin-top: 0;
        margin-bottom: 1rem;
    }

    // Inline error messages
    .form-error {
        color: theme-color('danger');
        display: none;
        padding-bottom: 1em;

        .fa {
            padding-right: 0.5em;
        }
    }

    &.is-error {
        .form-error {
            display: block;
        }
    }

    // Replication of Bootstrap's .has-danger
    // &.is-error {
    //     @include form-control-validation($brand-danger);

    //     // Do *not* colorize addons
    //     .input-group-addon {
    //         background: none;
    //     }

    //     // Do *not* colorize form labels
    //     label {
    //         color: $body-color;
    //     }
    // }

    // Required star for form groups.
    // Attaches to the first label or legend found
    &.is-required > label:first-child:after,
    &.is-required > legend:first-child:after {
        color: #bb0000;
        font-family: FontAwesome;
        font-size: 0.5em;
        padding-left: 0.5em;
        vertical-align: top;
        content: "\f069";
    }
}
