// Overrides of Bootstrap's _input-group.scss
// This changes the display mode of .input-group-addons to float
// inside of form components, instead of as side buttons.

// By default, our input-group-addon items are floated
// inside of the form-control they're connected to, rather than
// appearing as a separate button.
.input-group-addon {
    position: absolute;
    top: 0;
    z-index: 4; // one above .form-control:hover
    background: transparent;
    border: none;
    padding-top: 0.7rem;
}

.input-group {
    // Prefix addons need to add padding to the left of the form control
    .input-group-addon + .form-control {
        padding-left: 2.25rem;
    }

    // ... And suffix addons need to add padding to the right
    .form-control + .input-group-addon {
        left: auto;
        right: 0;
    }

    .form-control:not(:last-child) {
        padding-right: 2.25rem;
    }

    // Bootstrap does not (yet) support .is-invalid on a group.
    // See bug: https://github.com/twbs/bootstrap/issues/23454
    &.is-invalid {
        ~ .invalid-feedback {
            display: block;
        }

        input {
            @extend .is-invalid;
        }
    }
}
