/*
TODO: Migrate into a better override
*/


.navbar {
    padding: 0 2rem;
    border-radius: 0;
    z-index: 999;

    a {
        border: none;
    }

    // By default, we underline nav items in link blue
    .nav-item.active {
        box-shadow: inset 0px -2px 0px 0px $link-color;
    }

    // for light/dark themed navbars, we use the OSU Brand Scarlet
    &.navbar-light, &.navbar-dark {
        .nav-item.active {
            box-shadow: inset 0px -2px 0px 0px #bb0000;
        }
    }

    &.bg-faded {
        background-color: #f7f7f9; // Was $gray-lightest, but we want lighter

        // Add a hover button effect on navbar links
        li.nav-item:hover {
            background-color: $gray-lightest;
        }
    }
}

.navbar-brand {
    padding: 0.5rem 0;
    margin-right: 1.5rem;
}

.navbar-nav .nav-link {
    color: rgba(0,0,0,0.6);
    padding: 0.75rem 0.25rem;
}

.navbar-light .navbar-nav .active > .nav-link {
    color: #0a0a0a;
    font-weight: 400;
}

.navbar-light .navbar-nav .nav-link {
    color: #666;
}

// Organization name (Office of Research) in the app header
.navbar-org {
    display: block;
    font-size: 80%;
    line-height: 80%;
    color: #bb0000;
    padding-bottom: 0.1em;
}

// Thick variation of the navbar, for the app header
.navbar.navbar-thick {
    min-height: 62px;

    .navbar-nav .nav-link {
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
    }

    .navbar-brand {
        padding: 0;
        padding-top: 0.5rem;
        padding-top: 0.75rem;
        height: 62px;
    }

    // Push the toggle button down a bit to center in the thicker bar
    .navbar-toggler {
        top: 0.75rem;
    }
}
