
.navbar {
    // Use .navbar-expand (horizontal flex) behavior by default
    @extend .navbar-expand;

    padding: 0.5em 2em;

    // Alignment correction to ensure the top of the dropdown menu
    // is aligned against the bottom of the navbar
    .navbar-nav .dropdown-menu {
        margin-top: 9px;
    }

    // Application's main navbar. Styled slightly different
    // than inline navbars - with a bit more responsive behavior
    &.navbar-main {
        @extend .navbar-light;
        background-color: tint($gray, 5%);
        box-shadow: 0 2px 5px 0 rgba($black, 0.08), 0 2px 10px 0 rgba($black, 0.06);

        // Alternative link display - to treat them more like buttons
        .nav-item {
            // margin-bottom: -0.75em;
            // padding-bottom: 0.5em;

            &:hover {
                background: tint($gray, 10%);
            }

            &.active {
                // border-bottom: 2px solid #bb0000;
                background: tint($gray, 12%);
            }
        }

        // Adjustments to branding alignment
        .navbar-brand {
            padding: 0;
            padding-top: 0.1em;

            // Organization name (Office of Research) in the app header
            .navbar-org {
                display: block;
                font-size: 80%;
                line-height: 80%;
                color: $scarlet;
                padding: 0.1em 0;
            }
        }

        // Reduce edge padding for mobile
        @include media-breakpoint-down(sm) {
            padding: 0.5em 1em;
        }
    }
}
