
// TODO: These settings come directly from Chrome dev tools.
// Update to implement BS4 configurables.
// Style is set to match what has been defined for DataTables pagination.

.page-link {
    border: none;
    font-size: 1.2rem;
    line-height: 2;
    padding: 0 10px;
    border-radius: 2px;
    min-width: 2em;
    text-align: center;

    &:hover, &:active, &:focus {
        background: #eceeef;
    }
}

.page-item.active .page-link {
    color: #666;
    background: none;
    cursor: default;
}
