
/*
  Applies Tailwind classes as global styles
  that match our typography components.
*/
.typography {
  /* <Text> */
  @apply text-neutral text-base;

  line-height: 1.75;

  :where(strong) {
    @apply font-bold
  }

  /* <Kbd> */
  :where(kbd) {
    border: 1px solid var(--rui-surface-bold);
    border-radius: 3px;
    border-bottom-width: 3px;
    padding: 2px 4px;

    @apply
      text-neutral
      text-xs
      font-mono
  }

  /* <Heading> */
  h1 {
    @apply
      text-h1
      font-serif
      font-black
      pb-lg
  }

  h2 {
    @apply
      text-h2
      font-sans
      font-extrabold
      pb-xs
  }

  h3 {
    @apply
      text-h3
      font-sans
      font-semibold
      pb-xs
  }

  h4 {
    @apply
      text-h4
      font-sans
      font-semibold
      pb-xs
  }

  /* <Link> */
  a {
    /* TODO: This hack is because of Storybook Docs adding sbdocs-a
      despite using sb-unstyled */
    text-decoration: none !important;

    @apply cursor-pointer
      text-link
      no-underline
      border-b
      border-link
      hover:text-link-hover
      hover:border-link-hover
      hover:bg-surface-link-hover
  }

  /* <Code> */
  :where(code) {
    @apply
      text-sm
      text-neutral-subtle
  }

  :where(ol) {
    list-style-type: decimal;
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    padding-left: 1.625em;
  }
  :where(ol[type="A"]) {
    list-style-type: upper-alpha;
  }
  :where(ol[type="a"]) {
    list-style-type: lower-alpha;
  }
  :where(ol[type="A" s]) {
    list-style-type: upper-alpha;
  }
  :where(ol[type="a" s]) {
    list-style-type: lower-alpha;
  }
  :where(ol[type="I"]) {
    list-style-type: upper-roman;
  }
  :where(ol[type="i"]) {
    list-style-type: lower-roman;
  }
  :where(ol[type="I" s]) {
    list-style-type: upper-roman;
  }
  :where(ol[type="i" s]) {
    list-style-type: lower-roman;
  }
  :where(ol[type="1"]) {
    list-style-type: decimal;
  }

  :where(ul) {
    list-style-type: disc;
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    padding-left: 1.625em;
  }

  :where(ol > li)::marker {
    font-weight: 400;
    color: var(--rui-primary);
  }
  :where(ul > li)::marker {
    color: var(--rui-primary);
  }
}
