
$btn-disabled-bg: null !default;
$btn-disabled-fg: null !default;

.btn {
    // Because Bootstrap doesn't use the right pointers for buttons
    cursor: pointer;

    &:disabled {
        cursor: not-allowed;
        color: $btn-disabled-fg;
        background-color: $btn-disabled-bg;
        border-color: $btn-disabled-bg;
    }
}
