
// Theme overrides to brand react-datepicker
// $datepicker__border-color: red;

@import "react-datepicker/src/stylesheets/datepicker";

.react-datepicker-wrapper {
    display: block;
}

// Fix input size for the time input with an annoying level of nesting.
// Seriously - they use BEM but still nest selectors? Idiotic.
.react-datepicker__input-time-container .react-datepicker-time__input-container .react-datepicker-time__input input {
    width: 100px;
}

.datetime {
    display: block;
    padding-left: 2em;
}

.datetime.has-time {
    width: 13em;
}

.datetime.text-diff {
    width: 100%;
}

// Raise popper's z to avoid conflict with other fields/icons
.react-datepicker-popper {
    z-index: 10;
}
