
// Application-wide system alert.
// Used for planned outages or buckeye alerts.
.application-alert {
    background: $scarlet;
    color: $white;
    padding: 0.5rem 2rem;
    font-size: 80%;

    a {
        color: $white;
        text-shadow: none;
    }

    // Tighten edges on mobile
    @include media-breakpoint-down(sm) {
        padding: 0.5rem 1rem;
    }
}
