
// Theme overrides to brand react-datepicker
// $datepicker__border-color: red;

@import "react-datepicker/src/stylesheets/datepicker";

.react-datepicker-wrapper {
    display: block;
}

// Fix input size for the time input with an annoying level of nesting.
// Seriously - they use BEM but still nest selectors? Idiotic.
.react-datepicker__input-time-container .react-datepicker-time__input-container .react-datepicker-time__input input {
    width: 1.65rem;
}

.react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range, .react-datepicker__month-text--selected, .react-datepicker__month-text--in-selecting-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--selected, .react-datepicker__quarter-text--in-selecting-range, .react-datepicker__quarter-text--in-range {
    background-color: $casal;

    &:hover {
        background-color: shade($casal, 20%);
    }
}

.react-datepicker__day--keyboard-selected, .react-datepicker__month-text--keyboard-selected, .react-datepicker__quarter-text--keyboard-selected {
    background-color: $casal;

    &:hover {
        background-color: shade($casal, 20%);
    }
}

.react-datepicker__input-time-container { 
    margin: 5px 0 5px 15px;
}

// Raise popper's z to avoid conflict with other fields/icons
.react-datepicker-popper {
    z-index: 10;
}

// Component styling
.react-datepicker__input-container{
    .date, .datetime {
        display: block;
        padding-left: 2em;
    }
}

.datetimepicker {
    .input-group-prefix {
        .fa { 
            &.fa-clock-o {
                font-size: 0.7rem;
                position: absolute;
                bottom: 0;
                right: -0.2rem;
                background: white;
            }
        }
    }
}

// A11y enhancements

// Restores outlines to selected days
// ... Ugh, there *is* a keyboard-selected class, but it doesn't get applied
// to the selected day when that day has focus, so it's completely useless
.react-datepicker__day {
    &:focus{
        outline: 1px dotted $gray;
    }
}

.keyboard-notice {
    text-align: center;
    margin: 0 0 0.25rem 0;
}