
// Allow error message to wrap (could be long)
.lookup-error {
    white-space: normal;
}

// Hide the clear button until the lookup decides to show it
.lookup-clear {
    display: none;
}

// Show the clear button only when the lookup is readonly
.lookup[readonly] + .input-group-suffix > .lookup-clear {
    display: inline;
}
