
// General use asterisk.
// Useful for when we have a required checkbox but no label above the set
// so the star needs to be inline - but we can't use :before/:after because
// they're both utilized by the checkbox render
i.required-asterisk {
    font-size: 0.5rem;
    vertical-align: top;
    padding: 0.25em;
    color: $scarlet;
}
