.search-paginator {
    display: flex;
    align-items: center;

    ul.pagination {
        margin-bottom: 0;

        .page-item {
            .page-link {
                font-size: 1.1rem;
                color: $gray-700;
                border-radius: 0;
            }

            &.active {
                .page-link {
                    background-color: $casal;
                    color: white !important;
                }
            }

            &.disabled {
                .page-link {
                    color: $gray-400;
                }
            }
        }
    }

    .current-status {
        margin: 0 1rem;
    }
}
