
/**
 * Custom sticky header for applications. Will hide the OSU navbar when it scrolls
 * past the sticky break point, as well as work with main.is-horizontal-scroll.
 */
header.is-sticky {
    position: sticky;
    top: -38px; // Hide the OSU navbar when sticky-scrolling
    z-index: $zindex-sticky;
    box-shadow: 0 0 2px 0 transparentize($black, 0.16), 0 2px 4px 0 transparentize($black, 0.12);
}
