
.nav.nav-tabs {
    flex-wrap: nowrap;
    white-space: nowrap;
}

.nav-link {
    background-color: transparent;
}

// Fix the border under a tab item
.nav-link.active {
    border-bottom-color: #fff !important;
}

// Because BS4 seems to not style flex-column (vertical) active items, we do it here.
.nav.flex-column .nav-link.active {
    color: #525252;
  /*   border-left: 1px solid red; */
}

// Fix stylings for an active link button element.
// Our BS4 build adds improper recoloring in interactive states
.btn.btn-link.nav-link:active {
    background: transparent;
    color: #235b8b;
}

.btn.btn-link.nav-link:focus {
    box-shadow: none;
    color: #235b8b;
}
