
.terms {
    margin-bottom: 1.5rem;

    // Fix Bootstrap's extra padding
    &.input-group .form-control:not(:last-child) {
        padding-right: 0.75rem;
    }

    &.is-live.input-group .form-control:not(:last-child) {
        padding-right: 1.5rem;
    }

    // Inline the X button to the right of the input
    &-clear {
        position: absolute;
        font-size: 0.8em;

        right: 8px;
        top: 9px;
        margin: 0;
        color: #666;
        z-index: 4;

        text-shadow: none;
        box-shadow: none;
    }
}
