.time-field {
        appearance: listbox;
        display: block;
        width: 7.75rem; // Using rems here so the div width scales with zoom
        
        &.form-control {
            padding: 0.2em 0.5em;
        }

        &.readonly {
            background-color: tint($gray, 20%);

            &:focus-within {
                background-color: tint($gray, 20%);
                border-color: $gray;
                box-shadow: 0 0 0 0.2rem rgba(43, 43, 43, 0.25);
            }

            input {
                background-color: tint($gray, 20%);
                color: tint($gray, 80%);

                &:focus {
                    background: $gray;
                }
            }

            .fa {
                color: tint($gray, 80%);
            }
        }

        .fa {
            padding: 0 0.25rem 0 0;
        }

        &:focus-within {
            color: #525252;
            background-color: #fff;
            border-color: #50bac2;
            outline: 0;
            box-shadow: 0 0 0 0.2rem rgba(38, 104, 109, 0.25);
        }

        label { margin-bottom: 0; }

        input {
            border: 0;
            caret-color: transparent;
            cursor: default;
            text-align: center;
            width: 1.65rem;
            margin-bottom: 0;

            &:focus {
                outline: none; // General rule is to NEVER do this, but we're outlining the parent instead
                background: $casal;
                color: white;
            }

            &::selection,
            &::-moz-selection {
                background: transparent;
            }

            // Hide the spin icons (we still want the stepping functionality)
            &[type="number"] {
                -webkit-appearance: textfield;
                -moz-appearance: textfield;
                appearance: textfield;

                &::-webkit-inner-spin-button,
                &::-webkit-outer-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
            }

            &[name='am-pm'] {
                margin-left: 0.15rem;
            }
        }
}

// Sass hurt itself in its confusion...
.time-field input::selection { background: transparent; }