
/* Quick hack for width correction */
#osu_navbar .container {
    margin: 0;
    width: initial;
}

.nav {
    background-color: #efefef;
    width: 100%;
    height: 48px;
    line-height: 48px;
    padding: 0 2em;

    // Flexbox stuff
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;

    // Above any banners that may be present
    z-index: 9999;

    // Better flow while scrolling, so we don't get a skip
    // when it switches from inline to fixed
    &.pin-top {
        //box-shadow: none;
        position: absolute;
        margin-top: 42px;
    }

    // Application unit (Research)
    &__unit {
        color: #bb0000;
        font-size: 1.2em;
        letter-spacing: 0.025em;
    }

    // Application name
    &__app {
        padding-left: 0.25em;
        font-size: 1.2em;
        color: #333;
        font-weight: 300;
        letter-spacing: normal;
    }

    // User profile for login/logout/alerts
    &__profile {
        button {
            text-decoration: none;
            color: #666;
            transition: color 0.25s ease;
            font-weight: 300;
            padding: 1em 0;
            line-height: 1em;

            &:focus,
            &:active,
            &:hover {
                color: #0a0a0a;
                text-decoration: none;
            }
        }
    }

    &__links {
        margin: 0 2rem;
        overflow: hidden;

        flex: 2 1 auto; // take up remaining flexbox space

        li {
            padding: 0 1em;
            float: left;
            font-weight: 300;

            // Underline active links
            &.active {
                box-shadow: inset 0px -2px 0px 0px #bb0000;

                // As well as bold the link a little
                a {
                    font-weight: 400;
                    color: #0a0a0a;
                }
            }

            // Link badges
            .badge.new {
                background-color: #bb0000;
            }
        }

        a {
            color: #666;
            text-decoration: none;

            // Increase clickspace to beyond just the text
            padding: 1em 0;

            transition: color 0.25s ease;

            &:hover {
                color: #0a0a0a;
            }
        }
    }
}
