
// Temporary migration stuff from BS4 alpha -> beta


$gray-dark:                 #212121;
$gray:                      #666666;
$gray-light:                #c2c2c2;
$gray-lighter:              #ececef;
$gray-lightest:             #f7f7f9;

// Brand variables are gone
// $brand-primary:             #26686d; // OSU Blue
// $brand-success:             #38ae67; // UCR Green
// $brand-info:                #3283c8; // Link Blue
// $brand-warning:             #fc8a51; // UCR Warning
$brand-danger:              #e52c5a; // UCR Pink
// $brand-inverse:             $gray-dark;
