.form-group {
    // Enforce 1em padding between components in a form group
    textarea,
    input,
    select,
    label,
    legend,
    .input-group {
        margin-bottom: 1em;
    }

    // Have vertical (default) form legends behave
    // the same way as horizontal/inline form legends
    legend {
        @extend .col-form-label;
        padding: 0;
    }

    // Fix cursor for disabled form controls
    .form-control:disabled,
    .custom-control-input:disabled ~ .custom-control-label::after {
        cursor: not-allowed;
    }

    // Small (help text) padding improvements
    .form-text {
        font-size: 80%;
        color: $text-muted;
        margin-top: 0;
        margin-bottom: 1rem;
    }

    // Required star for form groups.
    // Attaches to the first label or legend found
    &.is-required > label:first-child::after,
    &.is-required > legend:first-child::after {
        color: $scarlet;
        font-family: FontAwesome;
        font-size: 0.5em;
        padding-left: 0.5em;
        vertical-align: top;
        content: '\f069';
    }
}
