// Overrides of Bootstrap's _input-group.scss
// This changes the display mode of .input-group-addons to float
// inside of form components, instead of as side buttons.

// By default, our input-group-addon items are floated
// inside of the form-control they're connected to, rather than
// appearing as a separate button.
.input-group-addon {
    position: absolute;
    top: 0;
    z-index: 4; // one above .form-control:hover
    background: transparent;
    border: 0;
    padding-top: 0.7rem;

    // Slight realignment fix for the FontAwesome search icon.
    // It looks too low by a couple pixels while embedded in inputs
    i.fa.fa-search {
        margin-top: -2px;
    }
}

.input-group {
    // Enable wrapping so that .invalid-feedback can
    // be rendered on a new line, if visible
    flex-wrap: wrap;

    // Fix for BS4-beta not correctly rendering invalid-feedback
    // within an input-group. This will force it on the next line
    // of the flexbox with full width. Margin is also modified as
    // we don't want to combine the margin-bottom of both the
    // input-group and the invalid-feedback elements.
    .invalid-feedback {
        margin: 1rem 0 0;
        flex: 1 1 100%;
    }

    // Prefix addons need to add padding to the left of the form control
    .input-group-addon + .form-control {
        padding-left: 2.25rem;
    }

    // ... And suffix addons need to add padding to the right
    .form-control + .input-group-addon {
        left: auto;
        right: 0;
    }

    .form-control:not(:last-child) {
        padding-right: 2.25rem;
    }

    // Bootstrap does not (yet) support .is-invalid on a group.
    // See bug: https://github.com/twbs/bootstrap/issues/23454
    &.is-invalid {
        ~ .invalid-feedback {
            display: block;
        }

        input {
            @extend .is-invalid;
        }
    }
}
