
// Override for only h1/h2 levels of headings
// to be Capita scarlet
h1,
h2 {
    color: $scarlet;
    font-family: 'Capita', 'Times New Roman', serif;
    line-height: 1.4; // 1.2 seems to have too much crowding for wrapped headers
}

// Underline for links
a, .btn-link {
    text-decoration: underline;
    text-decoration-skip-ink: auto;
    text-decoration-color: rgba($link-color, 0.5);

    // Safari support. See: https://github.com/postcss/autoprefixer/issues/1179
    -webkit-text-decoration-skip: ink;
}

// Exclusions list for underlining.
// Links are represented another way (as buttons, tabs, etc)
a.dropdown-toggle,
a.dropdown-item,
a.nav-link,
a[role='button'],
button.nav-link {
    text-decoration: none;
}
